html, body {
  margin: 0;
  background-color: #0d2240;
  color: rgba(243, 235, 203, 0.8);
  font-family: 'Palanquin', serif;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  font-family: 'Palanquin Dark', sans-serif;
  color: #f7a800;
}

h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Palanquin Dark', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #00a8e1;
}

p {
  margin: 0;
}